{% verbatim %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Es ist ein Fehler aufgetreten: {{ status_text }}</title>
</head>
<body>
    <h1>Ups! Ein Fehler ist aufgetreten</h1>
    <h2>Der Server server antwortete mit "{{ status_code }} {{ status_text }}".</h2>
    <p>
    Kontaktieren Sie uns bitte per Email oder Telefon.
    </p>
    <ul>
        <li></li>
        <li></li>
    </ul>

</body>
</html>
{% endverbatim %}
