<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests</directory>
            <exclude>./Tests/Deployment</exclude>
        </testsuite>
        <testsuite name="deployment">
            <directory suffix="Test.php">./Tests/Deployment</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./Propel/map</directory>
                <directory>./Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
