<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap-deployment.php" colors="true">

    <testsuites>
        <testsuite name="deployment">
            <file>./Tests/Deployment/DeploymentTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./Propel/map</directory>
                <directory>./Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
