{% verbatim %}
<div class="footer-line">&nbsp;</div>
<div class="container footer" style="margin:0 auto;">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h4>Contact</h4>
            <div style="float:left;margin-top: 5px; margin-right:10px;margin-bottom:5px; height: 60px;">
                <img class="img-rounded-small footer-logo" src="{{ asset(('media/images/logo.png') | imagine_filter('logo_footer')) }}" alt="" />
            </div>
            <strong>{{ c33s_core_config.contact.company }}</strong>
            {{ macros.addressStreet() }}
            <span class="clearfix"></span>
            {{ macros.addressPhone() }}
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-3 col-sm-3">
            <h4>Sitemap</h4>

            {% include "C33sMenuBundle::bootstrap_menu_renderer.html.twig" with { 'items': menu_items('webpage_sitemap'), 'containerClass': 'list-unstyled' } %}

        </div>
        <div class="col-md-3 col-sm-3">
            <h4>Connect</h4>

            {% include "C33sMenuBundle::bootstrap_menu_renderer.html.twig" with { 'items': menu_items('webpage_connect'), 'containerClass': 'list-unstyled' } %}

            created by <a href="http://consistency.at">consistency.at <i class="fa fa-external-link"></i></a>
        </div>
    </div>
</div>
{% endverbatim %}
